<div class="container">
  <h1>Lanchonete do Geraldo</h1>
  <div class="row">
      <div class="col">
          <a href="/promocoes/sanduiches">Sanduíches em promoção</a>
      </div>
      <div class="col">
          <a href="/promocoes/suco" >Compre agora e ganhe um suco</a>
      </div>
  </div>
  <div class="row" style="margin-top: 2%;">
      <div class="col">
          <a href="/promocoes/aniversario" >Promoção do aniversariante</a>
      </div>
      <div class="col">
          <a href="/promocoes/pizza" >Compre uma pizza e ganhe um pastel</a>
      </div>
  </div>
  <table class="table table-striped mt-4">
      <thead>
          <tr>
              <th>Produto</th>
              <th>Valor</th>
              <th>Ações</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>pizza de calabresa</td>
              <td>R$ 50,00</td>
              <td>
                  <a href="#" class="btn btn-primary">Pedir</a>
              </td>
          </tr>
          <tr>
              <td>Pastel de queijo</td>
              <td>R$ 10,00</td>
              <td>
                  <a href="#" class="btn btn-primary">Pedir</a>
              </td>
          </tr>
          <tr>
              <td>Sanduíche</td>
              <td>R$ 12,00</td>
              <td>
                  <a href="#" class="btn btn-primary">Pedir</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
